.App {
  text-align: center;
}

.btn-submit {
  color: red;
  border: 1px solid blue;
  width: 100px;
  padding: .75rem;
  text-align: center;
  margin: auto;
}

.btn-submit:hover {
  cursor: pointer;
  background: grey;
  color: white;
  border: 1px solid red;
}